name: main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install
        run: sudo apt-get install ninja-build doxygen graphviz mscgen dia
      - name: Configure
        run: cmake -G Ninja -B ${{runner.temp}}
      - name: Build and test
        working-directory: ${{runner.temp}}
        run: ninja all test
